/*  */

/* .app {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
} */

#listContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
/* form stuff */
#form {
  display: flex;
  flex-flow: column;
}

/* 
list stuff */

.list {
  border: 1px solid black;
  font-size: 35px;
  text-align: center;
  min-height: 500px;
  font-family: "Fjalla One", sans-serif;
}

.queue,
.progress,
.pau {
  text-align: left;
  margin: 10px;
  padding: 8px;
  font-family: "Libre Franklin", sans-serif;
}

.queue {
  font-size: 15px;
  background-color: rgb(247, 88, 88);
  border: 1px solid black;
  min-width: 200px;
}

.progress {
  font-size: 15px;
  background-color: rgb(70, 188, 235);
  border: 1px solid black;
  min-width: 200px;
}

.pau {
  font-size: 15px;
  background-color: rgb(98, 245, 98);
  border: 1px solid black;
  min-width: 200px;
}

/* card stuff */
.taskTitle {
  font-weight: bolder;
  font-size: 18px;
}

.taskBody {
  font-size: 15px;
}

.cardPriority {
  font-size: 14px;
}

.created_by {
  font-size: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
